* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #051655;
    --light-blue: #F3F6F9;
    --red: #EB3D35;
    --grey: #747887;
    --light-grey: #E5E4E1;
    --p: 20px;
}





.name-about {
    display: flex;
    gap: 10px;
}

.inputs-abouts {
    max-width: 1051px;
    margin-top: 40px;
}

.input-about {
    width: 460px;
}

.input-message-about {
    margin-top: 10px;
    width: 100%;
    padding-left: 30px;
}
