* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #051655;
    --light-blue: #F3F6F9;
    --red: #EB3D35;
    --grey: #747887;
    --light-grey: #E5E4E1;
    --p: 20px;
}






.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-item {
    position: relative;
    display: flex;
    padding: 15px 24px;
    border: 1px solid var(--light-grey);
    margin-top: 20px;
    cursor: pointer;
}

.interest-item > input {
    display: none;
}

.interest-checkbox:checked ~ .interest-text {
    color: var(--blue);
}

.interest-checkbox:checked ~ .interest-border {
    opacity: 1;
}

.interest-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: var(--grey);
    transition: all .2s ease;
}

.interest-border {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid var(--blue);
    opacity: 0;
    transition: all .2s ease;
}