* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #051655;
    --light-blue: #F3F6F9;
    --red: #EB3D35;
    --grey: #747887;
    --light-grey: #E5E4E1;
    --p: 20px;
}





.radio-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.radio-item {
    display: flex;
    max-width: 360px;
    width: 100%;
    padding: 10px;
    background-color: var(--light-blue);
    align-items: center;
    position: relative;
}

.radio-input {
    display: none;
}

.radio-input:checked ~ .fake:after {
    opacity: 1;
}

.radio-input:checked ~ .border {
    opacity: 1;
}


.fake {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--red);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.fake:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .2s ease;
}

.radio-buttons > .text {
    font-style: normal;
    font-weight: 494;
    font-size: 20px;
    line-height: 22px;
    color: var(--blue);
    margin-left: 30px;
}

.radio-buttons > .img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}

.radio-buttons > .img > img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.border {
    position: absolute;
    border: 1px solid var(--red);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transition: all .2s ease;
}

.step-1 {
    margin-left: 30px;
}