* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #051655;
    --light-blue: #F3F6F9;
    --red: #EB3D35;
    --grey: #747887;
    --light-grey: #E5E4E1;
    --p: 20px;
}








.file-uploader {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin-top: 40px;
    gap: 40px;
}

.file-uploader-item:first-child {
    flex: 0 0 auto;
}

.file-uploader-item:last-child {
    flex: 1 1 auto;
}

.one-item-file {
    border: dashed var(--blue);
}

.file-label {
    display: flex;
    width: 360px;
    height: 360px;
    position: relative;
    background-color: var(--light-blue);
    cursor: pointer;
}

.file-input {
    display: none;
}

.one-item-file > .file-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.file-item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--blue);
    width: 107%;
    margin-top: 35px;
}

.profile-input {
    display: flex;
    width: 100%;
    margin-top: 10px;
    max-width: 100%;
}

.profile-input > .input {
    width: 100%;
    display: flex;
}







@media (max-width: 350px) {

    .file-uploader {
        display: flex;
        flex-direction: column;
    }

    .file-label {
        width: 280px;
        height: 280px;
    }

}