* {
    font-family: Montserrat;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #051655;
    --light-blue: #F3F6F9;
    --red: #EB3D35;
    --grey: #747887;
    --p: 20px;
}

a {
    text-decoration: none;
}

.icon {
    transition: all .2s ease;
}






.title {
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    color: var(--blue);
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: var(--grey);
}

.btn {
    background-color: var(--red);
    padding: 18px 30px;
    display: inline-flex;
    align-items: center;
    font-weight: 494;
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    gap: 40px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
    border: 1px solid var(--red);
}

.btn:hover {
    background-color: #fff;
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-outline {
    background-color: #fff;
    padding: 18px 30px;
    display: inline-flex;
    align-items: center;
    font-weight: 494;
    font-size: 22px;
    line-height: 24px;
    color: var(--blue);
    gap: 40px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
    border: 1px solid var(--light-grey);
}

.btn-outline:hover {
    background-color: var(--blue);
    color: #fff;
    border: 1px solid var(--blue);
}

.btn:hover .icon {
    transform: translate(10px);
} 

.input {
    padding: 20px 20px 20px 65px;
    border: 1px solid var(--light-grey);
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--grey);
}

.input:focus {
    border: 1px solid var(--red);
}

.input-search {
    width: 460px;
}























